In [10]:
import sys
import re
import numpy as np
import pandas as pd
import googlemaps
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup
from pandas.io.json import json_normalize
from importlib import reload

from selenium import webdriver
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

%matplotlib inline

In [5]:
if sys.platform == 'darwin':
    driver = webdriver.Chrome('../webdriver/chromedriver_mac')
elif sys.platform == 'win32':
    driver = webdriver.Chrome('../webdriver/chromedriver_win.exe')

In [6]:
driver.get('https://bungol.ca')
login = driver.find_element_by_link_text('Login/Signup')
login.click()

username = driver.find_element_by_name('username')
password = driver.find_element_by_name('password')

username.send_keys('scottw')
password.send_keys('zojzes-dycpoQ-2nidwy')
password.send_keys(Keys.RETURN)

In [69]:
driver.get('https://bungol.ca/dashboard/saved-listings/')

table = driver.find_element_by_id('listingComparablesTable').get_attribute('innerHTML')
soup = BeautifulSoup(table)
pattern1 = re.compile(r'\s+(\w.+)\s+-\s+([\$\d,]+)')
pattern2 = re.compile(r'.*-([a-z]\d+)-.*')
data = []

for row in soup.select('tbody > tr'):
    cols = row.select('td')
    
    # Address
    address = cols[0].text
    
    # Status and Price
    status, price = '', ''
    m = pattern1.match(cols[1].text)
    if m:
        status = m.group(1)
        price = m.group(2)
    
    # Room
    room = cols[3].text.strip()
    
    # MLS number
    actions = cols[5].select('form')
    url = actions[0]['action']
    mls = ''
    
    m = pattern2.match(mlsURL, re.IGNORECASE)
    if m:
        mls = m.group(1).upper()
        
    # URL
    bungolURL = 'https://bungol.ca' + url
    
    data.append([address, status, price, room, mls, bungolURL])
    
df = pd.DataFrame(data, columns=['Address', 'Status', 'Price', 'Room', 'MLS', 'BungolURL'])

In [71]:
%%time
API_KEY = 'AIzaSyDxKCgJ24kU2G019m_gZz-01YSNd5_1UH4'
client = googlemaps.Client(key=API_KEY)

def getCoordidates(row):
    geo = client.geocode(row['Address'])
    
    return None if len(geo) == 0 else pd.Series(geo[0]['geometry']['location'])

df[['lat', 'lng']] = df.apply(getCoordidates, axis=1)

Wall time: 19.8 s

In [72]:
df.head()

,Address,Status,Price,Room,MLS,BungolURL,lat,lng
0,"123 James Gray Dr, North York",For Sale,"$988,000",3 | 4,W4534675,https://bungol.ca/listing/123-james-gray-drive...,43.801799,-79.371791
1,"222 Westwood Ave, East York",For Sale,"$899,000",4 | 2,W4534675,https://bungol.ca/listing/222-westwood-avenue-...,43.687098,-79.346543
2,"2 Lount St, Toronto",For Sale,"$899,000",4 | 3,W4534675,https://bungol.ca/listing/2-lount-street-toron...,43.675654,-79.328501
3,"93 Billings Ave, Toronto",For Sale,"$899,000",3 | 2,W4534675,https://bungol.ca/listing/93-billings-avenue-t...,43.669217,-79.325983
4,"170 Meadowvale Rd, Scarborough",For Sale,"$899,900",3 | 3,W4534675,https://bungol.ca/listing/170-meadowvale-road-...,43.784885,-79.160872

# Google Map

In [75]:
import gmaps
gmaps.configure(api_key="AIzaSyDxKCgJ24kU2G019m_gZz-01YSNd5_1UH4") # Your Google API key

markers = []

for _, row in df.iterrows():
    coordinates = (row['lat'], row['lng'])
    info = f"""
<b>{row['Address']}</b><br/>
{row['Price']}. {row['Room']} <br/>
<a href="{row['BungolURL']}" target="_blank" style="color:blue">bungol.ca</a> | 
<a href="#" target="_blank" style="color:blue">realtor.ca</a>
"""
    marker = gmaps.Marker(coordinates, info_box_content=info, hover_text=row['Price'])
    markers.append(marker)

layer = gmaps.drawing_layer(
    features=markers,
    mode='DISABLED'
)

fig = gmaps.figure(
    center=df[['lat', 'lng']].mean(),
    zoom_level=12,
    layout={'height': '600px'}
)
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='600px'))

In [22]:
df.head()

,Address,Status,Price,Room,lat,lng
0,"123 James Gray Dr, North York",For Sale,"$988,000",3 | 4,43.801799,-79.371791
1,"222 Westwood Ave, East York",For Sale,"$899,000",4 | 2,43.687098,-79.346543
2,"2 Lount St, Toronto",For Sale,"$899,000",4 | 3,43.675654,-79.328501
3,"93 Billings Ave, Toronto",For Sale,"$899,000",3 | 2,43.669217,-79.325983
4,"170 Meadowvale Rd, Scarborough",For Sale,"$899,900",3 | 3,43.784885,-79.160872

In [25]:
df[df['Address'].str.match('240')]

,Address,Status,Price,Room,lat,lng
29,"240 Catalina Dr, Scarborough",For Sale,"$868,800",4 | 2,43.74452,-79.199858

In [26]:
df['Address'].str.match('240')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
Name: Address, dtype: bool