In [5]:
import numpy as np
import pandas as pd
import os
import glob

In [6]:
subdir = 'data'
globPattern = os.path.join(subdir, '*.csv')
columnNames = ['Date', 'Payee', 'Debit', 'Credit', 'Balance']

# Rename CSV files

In [7]:
for file in glob.iglob(globPattern):   
    df = pd.read_csv(file, names=columnNames, header=None)
    month = pd.Timestamp(df['Date'].iloc[0])
    newFile = os.path.join(subdir, f'accountactivity_{month:%Y-%m}.csv')
    os.rename(file, newFile)

# Process the data

In [8]:
df = []

csvFiles = glob.glob(globPattern)
csvFiles.sort()
for file in csvFiles:
    df.append(pd.read_csv(file, names=columnNames, header=None))
    
df = pd.concat(df).reset_index(drop=True)
df['Date'] = pd.to_datetime(df['Date'])
df['Amount'] = -df['Debit'].combine_first(-df['Credit'])

df = df[['Date', 'Payee', 'Amount']]

In [9]:
def categorizer(row) -> str:
    payee = row['Payee'].upper()
    categories = {
        'TOR HYD ELEC': 'Hydro',
        'TOR UTILITY': 'Water',
        'TORONTO TAX': 'Property Tax',
        'WAWANESA INS': 'Insurance',
        'ENBRIDGE': 'Heat'
    }
    for key, value in categories.items():
        if payee.startswith(key):
            return value
    return ''

df['Category'] = df.apply(categorizer, axis=1)

In [10]:
df.query('Category == "Property Tax"')

          Date                 Payee   Amount      Category
19  2018-01-29  TORONTO TAX  K7R6J9  -1417.58  Property Tax
52  2018-06-07  TORONTO TAX  R6Q9H5  -1518.45  Property Tax
106 2019-02-11  TORONTO TAX  X5H8J5  -1468.02  Property Tax

# Analysis

Last 12 months

In [12]:
oneYearAgo = pd.Timestamp.now() - pd.offsets.DateOffset(months=18)
cond = (df['Date'] >= oneYearAgo) & (df['Category'] != '')
group = df[cond].groupby('Category')

summary = group.sum().assign(
    Yearly = lambda x: x['Amount'],
    Monthly = lambda x: x['Amount'] / 18
)[['Yearly', 'Monthly']]

total = summary.sum()
total.name = 'Total'
summary = summary.append(total)

summary.style.format({
    'Yearly': '{:,.2f}',
    'Monthly': '{:,.2f}'
})

In [9]:
summary.to_excel('home_expenses.xlsx')